<template name="_leftnav">
	<ul id="nav-mobile" class="side-nav fixed">
        <li class="logo"><a id="logo-container" href="http://materializecss.com/" class="brand-logo">
            </a></li>
        <li class="bold"><a href="{{pathFor 'dashboard'}}" class="waves-effect waves-teal">Dashboard</a></li>
        <li class="bold"><a href="{{pathFor 'configure'}}" class="waves-effect waves-teal">Configure</a></li>
        <li class="bold"><a href="http://materializecss.com/mobile.html" class="waves-effect waves-teal">Mobile</a></li>
        <li class="bold"><a href="showcase.html" class="waves-effect waves-teal">Showcase</a></li>
     </ul>
</template>