<template name="channelItem">
	<a class="btn waves-effect waves-light bulletin-channel modal-trigger" href="#">{{channel}}
	</a>
	<div  class="modal">
	    <div class="modal-content">
	      <h4 style="color:black;">删除</h4>
	      <p style="color:black;">确定要删除{{current_channel}}吗?</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat confirm">确定</a>
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">取消</a>
	    </div>
  </div>
</template>